<section class="section-forgetpassword">
    <div class="container top">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-forgetpassword">
                Forget Password
                <p class="detail-forgetpassword">Please input your email address to reset your password. A link will be emailed  to this address which will let you reset you password.</p>
                <hr class="top-line" />
            </div>
        </div>
        <div class="row justify-content-center top">
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    </div>
                    <input type="text" class="form-control" ng-model="loginForm.username" id="" placeholder="Email">
                </div>
                <button class="btn btn-default width-button top">Send</button>
            </div>
        </div>
    </div>
</section>