<section class="login-section">
    <div ng-controller="LoginController" class="margin-head">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-6 border-right">
                    <img src="~/images/cover/banner-login.jpg" class="img-login" />
                </div>

                <div class="col-sm-6  margin-head">
                    <div class="col-sm-10 font-login ">
                        Login
                    </div>
                    <div class="col-sm-10">
                        <form name="LoginForm">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="email" name="inputemail" class="form-control" ng-pattern="/^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" ng-model="email" id="" placeholder="Email" require><br />
                                </div>
                                <span class="text-input-warnning" ng-show="LoginForm.inputemail.$dirty&&LoginForm.inputemail.$error.pattern">Please enter valid email address.</span>
                            </div>
                            <button class="btn btn-default width-button" ng-click="checkEmail(email)">Next</button>
                            <div class="line">
                                <span class="text-line">
                                    New to G-ABLE Community
                                </span>
                            </div>
                            <button class="btn btn-default width-button-new-account font-create" ng-click="creareNewAccount()">Create a new account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/loginController.js"></script>
}