
@{
    ViewData["Title"] = "Password";
}

<div ng-controller="LoginController" class="margin-head">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-6 border-right">
                <img src="~/images/cover/banner-password.jpg" class="img-login" />
            </div>

            <div class="col-sm-6  margin-head">
                <div class="col-sm-10 font-login ">
                    Login
                </div>
                <div class="col-sm-10">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" ng-model="loginForm.username" id="" placeholder="Password">
                        </div>
                    </div>
                    <button class="btn btn-default width-button">Login</button>
                    <p class="font-forgetpassword">Forget Password</p>

                </div>
            </div>
        </div>
    </div>
</div>
