<section class="section-resetpassword">
    <div class="container top">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-resetpassword">
                Reset Password

                <p class="detail-resetpassword">Please input your new password to reset your password.</p>
                <hr class="top-line" />
            </div>
        </div>
        <div class="row justify-content-center top">
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                    </div>
                    <input type="text" class="form-control" ng-model="loginForm.username" id="" placeholder="New Password">
                </div>
            </div>
        </div>
        <div class="row justify-content-center top">
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>
                    </div>
                    <input type="text" class="form-control" ng-model="loginForm.username" id="" placeholder="Confirm New Password">
                </div>
                <button class="btn btn-default width-button top">Change Password</button>
            </div>
        </div>
    </div>
</section>

